@font-face {
  font-family: "fzlth";
  src: url("https://nie.res.netease.com/comm/js/nie/ref/fonts/fzlth.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "belweb";
  src: url("https://nie.res.netease.com/comm/js/leihuo/fonts/BELWEB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.copyright {
  background: radial-gradient(50% 252.84% at 50% 49.94%, #242a42 7.27%, #121524 100%);
}
#g-footer {
  height: 100%;
  max-width: 1600px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 18px;
  text-align: center;
  padding: 102px 0 150px;
  margin: 0 auto;
  font-size: 14px;
  font-family: "fzlth", sans-serif;
}
#g-footer a.link {
  color: rgba(255, 255, 255, 0.4);
}
#g-footer .cn-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#g-footer .nie-cn-nav-i2 {
  margin-top: 12px;
}
#g-footer .copyright-inner {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 40px;
}
#g-footer .part1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
#g-footer .part1 .cn-logo {
  cursor: default;
}
#g-footer .part1 .cn-logo .logo {
  cursor: default;
}
#g-footer .part2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
#g-footer .part2 .part2-content {
  text-align: left;
  letter-spacing: 2px;
}
#g-footer .cn-nav {
  margin-left: 48px;
  line-height: 1.46;
}
#g-footer .cn-nav .sperate {
  margin: 0 8px;
}
#g-footer .cn-nav .cn-logo-m {
  display: none;
}
#g-footer .cn-nav > p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  letter-spacing: 2px;
}
#g-footer .cn-nav .nie-cn-nav-i1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-left: -20px;
}
#g-footer .cn-nav .nie-cn-nav-i1 > a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  margin: -10px 10px;
  position: relative;
}
#g-footer .cn-nav .nie-cn-nav-i1 > a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
#g-footer .cn-nav .nie-cn-nav-i1 > a:not(:last-child)::after {
  width: 1px;
  height: 12px;
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -10px;
  background-color: #8a7c63;
}
#g-footer .cn-nav .nie-cn-nav-i2 {
  display: inline-block;
}
#g-footer .cn-nav .nie-cn-nav-i5 .nie-cn-nav-i5--title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#g-footer .cn-nav .nie-cn-nav-i5 .agerate-text-sperate {
  margin: 0 8px;
}
#g-footer .cn-nav .nie-cn-nav-i5 > .link {
  color: rgba(255, 255, 255, 0.4);
}
#g-footer .cn-nav .nie-cn-nav-i5 .show-on-m {
  display: none;
}
#g-footer .copyright-icon {
  display: inline-block;
}
#g-footer .copyright-1 {
  background: url(https://ld5.res.netease.com/pc/gw/20241116141436/img/sprite-f91db2_f91db26f.png) no-repeat;background-size:53px 46px;
background-position:-0px -31px;
width:17px;
height:15px;

  margin-right: 8px;
  vertical-align: sub;
}
#g-footer .copyright-2 {
  background: url(https://ld5.res.netease.com/pc/gw/20241116141436/img/sprite-f91db2_f91db26f.png) no-repeat;background-size:53px 46px;
background-position:-31px -0px;
width:22px;
height:24px;

  margin-left: -4px;
}
#g-footer .copyright-3 {
  background: url(https://ld5.res.netease.com/pc/gw/20241116141436/img/sprite-f91db2_f91db26f.png) no-repeat;background-size:53px 46px;
background-position:-0px -0px;
width:29px;
height:29px;

  margin: 0 8px;
  vertical-align: sub;
}
#g-footer .copyright-sperator {
  width: 1px;
  height: 14px;
  background-color: #a89a7e;
  margin-right: 10px;
}
#g-footer a.link:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}
#g-footer .text-sperate {
  margin: 0 8px;
}
#g-footer .flex-s-0 {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
@media screen and (max-width: 960px) {
  #g-footer .copyright-inner .part1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #g-footer .copyright-inner .part1 .cn-nav {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 720px) {
  #g-footer .copyright-inner .part1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #g-footer .copyright-inner .part1 .cn-nav {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 660px) {
  #g-footer .copyright-inner .part1 {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #g-footer .part1 .cn-logo {
    display: none;
  }
  #g-footer .cn-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #g-footer .cn-nav .cn-logo-m {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 35px;
  }
  #g-footer .cn-nav .cn-logo-m--bg {
    background-image: url(https://ld5.res.netease.com/pc/gw/20241116141436/img/m-logo_2e340845.png);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #g-footer .cn-nav .cn-logo-m .logo-area::before {
    content: "";
    display: block;
    padding-top: 18%;
  }
  #g-footer .cn-nav .sperate {
    display: none;
  }
  #g-footer .cn-nav .nie-cn-nav-i2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #g-footer .cn-nav .nie-cn-nav-i3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #g-footer .cn-nav .nie-cn-nav-i4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #g-footer .cn-nav .nie-cn-nav-i5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #g-footer .cn-nav .nie-cn-nav-i5 .agerate-text-sperate {
    display: none;
  }
  #g-footer .cn-nav .nie-cn-nav-i5 .show-on-m {
    display: inline;
  }
  #g-footer .part2 .part2-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 960px) {
  #g-footer .part1 {
    margin-top: 0;
  }
  #g-footer .part1 .cn-logo {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 46px;
  }
}
@media screen and (max-width: 420px) {
  #g-footer .copyright-inner {
    padding: 0 16px;
    font-size: 12px;
  }
}
@media screen and (max-width: 330px) {
  #g-footer .copyright-inner {
    padding: 0 16px;
    font-size: 10.8px;
  }
}

