/** mixins **/
.download-pop[data-v-e9b7d4c8] {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.download-pop .download-content[data-v-e9b7d4c8] {
  position: relative;
  width: 347px;
  height: 196px;
  background-image: url(https://ld5.res.netease.com/pc/zt/20241113163154/assets/bg_95f81db4.png);
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 52px;
}
.download-pop .download-content .close-btn[data-v-e9b7d4c8] {
  position: absolute;
  right: 11px;
  top: 11px;
  width: 15px;
  height: 15px;
  background-image: url(https://ld5.res.netease.com/pc/zt/20241113163154/assets/close-btn_7970432b.png);
  background-size: cover;
}
.download-pop .download-content .content-title[data-v-e9b7d4c8] {
  font-size: 15px;
  color: #1d253a;
  font-weight: bold;
  margin-bottom: 19.5px;
}
.download-pop .download-content .content-desc[data-v-e9b7d4c8] {
  font-size: 12px;
  color: #1d253a;
  line-height: 1;
}
.download-pop .download-content .copy-container[data-v-e9b7d4c8] {
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 34.5px;
  margin-top: 15px;
}
.download-pop .download-content .copy-container .copy-btn[data-v-e9b7d4c8] {
  width: 70px;
  height: 100%;
  background-color: #ed6f28;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.download-pop .download-content .copy-container .copy-left-container[data-v-e9b7d4c8] {
  width: 192.5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.38);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
}
.download-pop .download-content .copy-container .copy-left-container .link-text[data-v-e9b7d4c8] {
  color: #1d253a;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** mixins **/

