name: Sync to Gitee
on:
  push:
    branches: [ main ] # 如果主分支是 master，请修改此处

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror GitHub -> Gitee
        uses: Yikun/hub-mirror-action@master
        with:
          # 源：你的 GitHub 用户名
          src: github/Li-xunwen
          # 目标：你的 Gitee 用户名
          dst: gitee/Li-xunwen
          

          mappings: "TalonTools-Overwatch->talon-tools-overwatch"
          

          dst_token: ${{ secrets.GITEE_TOKEN }}
          
          # 其他参数
          force_update: true
          # static_list 留空即可
          static_list: ""