name: Sync to Gitee

on:
  push: # 当向 GitHub 仓库推送代码时触发同步
    branches: [ main ] # 可根据需要修改为你工作的分支，如 master

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror GitHub -> Gitee
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/Li-xunwen
          dst: gitee/Li-xunwen
          
          src_token: ${{ secrets.GH_TOKEN }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          
          mappings: “TalonTools-Overwatch->talon-tools-overwatch” 
          
          # 其他优化参数
          force_update: true # 强制更新，处理历史差异
          static_list: “” # 使用 mappings 时，此项必须留空