name: Sync to Gitee
on: [push] # 当发生push事件时触发
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror to Gitee
        uses: Yikun/hub-mirror-action@master # 使用一个现成的同步Action
        with:
          src: github/Li-xunwen # 源仓库，替换为你的用户名
          dst: gitee/Li-xunwen # 目标仓库，替换为你的用户名
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }} # 如果配置了SSH密钥可选用此项
          dst_token: ${{ secrets.GITEE_TOKEN }} # 使用我们刚刚配置的令牌
          static_list: "talon-tools-overwatch" # 要同步的具体仓库名
          force_update: true # 启用强制更新